@using BusinessLogic.Interfaces
@using Microsoft.AspNetCore.Identity
@model ProductDto;
@inject ICartService cartService;

<div id="details">
    <div class="card details-card">
        <h5 class="card-header">
            <a href="@ViewBag.ReturnUrl" class="btn btn-dark">
                <i class="bi bi-arrow-left"></i>
            </a>
            <span class="text-center">Product Information</span>
        </h5>
        <div class="d-flex flex-row">
            <div class="image-block border-radius">
                <img src="@Model.ImageUrl" alt="Product Image" />
            </div>
            <div class="main-info d-flex flex-column border-radius">
                <div class="time-and-like">
                    <div>
                        @* TIME *@ 
                    </div>
                    @* TODO: optimize sending request using JS *@
                    <div class="like">
                        @if (cartService.IsExists(Model.Id))
                        {
                            <a asp-controller="Cart" asp-action="Remove" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="fs-3">
                                <div class="bi bi-heart-fill mb-1 text-black text-end"></div>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="fs-3">
                                <div class="bi bi-heart mb-1 text-black text-end"></div>
                            </a>
                        }
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <span class="card-title">@Model.Name</span>
                    <span class="fs-0">@(Model.CategoryName ?? "category not loaded")</span>
                    @if (Model.Discount > 0)
                    {
                        <div class="price">
                            <h5 class="fs-4 ">@(Model.Price - (Model.Price * Model.Discount / 100))$</h5>
                            <h5 class="fs-4 text-decoration-line-through">@Model.Price$</h5>
                        </div>
                    }
                    else
                    {
                        <h5 class="fs-4">@Model.Price$</h5>
                    }
                    <br />
                    <a href="#" class="btn mb-1 contactBtn">Message</a>
                    <a href="#" class="btn darkBtn">Buy</a>
                </div>
            </div>
            @if (Model.Description != null)
            {
                <div class="descriptionBlock border-radius">
                    <h4>Description</h4>
                    <p class="description">@Model.Description</p>
                    <hr />
                    <div class="text-center">ID: @Model.Id</div>
                </div>
            }
            <div class="contactInfoBlock w-100 border-radius">
                <div class="contact-header">
                    <span>CONTACT WITH SELLER</span>
                    <a href="#" class="btn mb-1 darkBtn">Message</a>
                </div>  
                <div class="contactInfo">
                    <div>
                        <div class="avatar">
                            <img src="@Model.ImageUrl" alter="Avatar"/>
                        </div>
                        <div class="otherInfo">
                            <span>@Model.UserName</span>
                            <span>On OLX from @ViewBag.user.Registerdate</span>
                        </div>
                    </div>
                    <div class="phoneNumber">
                        <span>@ViewBag.user.PhoneNumber</span>
                    </div>

                </div>
            </div>

            <div>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6530983046437487"
                        crossorigin="anonymous"></script>
                <!-- adv2 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-6530983046437487"
                     data-ad-slot="2388995587"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

        </div>
    </div>
</div>