@using BusinessLogic.Interfaces
@model ProductDto;
@inject ICartService cartService;

<div class="d-flex justify-content-center">
    <div class="mb-3 w-75 card">
        <div class="row g-0 home-card w-100 ">
            <a class="col-md-4" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path">
                <img src="@Model.ImageUrl" alt="Product Image">
            </a>
            <div class="col-md-8">
                <div class="card-container text-left">
                    <div>
                        <span class="card-title">
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path">@(Model.Name)</a>
                        </span>
                    </div>
                    <div>
                        <p class="card-text">
                            City: @(Model.CityName ?? "City not loaded")
                            @* @Model.CountryName @* Need to fix country name in Product *@
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-container price-like">
                <p class="card-text">
                    @if (Model.Discount > 0)
                    {
                        <span>@(Model.Price - (Model.Price * Model.Discount / 100))$/</span>
                        <span class="text-decoration-line-through">@Model.Price$</span>
                    }
                    else
                    {
                        <span>@Model.Price$</span>
                    }
                    <br />
                    @(Model.CategoryName ?? "category not loaded")
                </p>
                <div class="like">
                    @if (cartService.IsExists(Model.Id)) {
                        <a asp-controller="Cart" asp-action="Remove" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="bi bi-heart-fill mb-1 text-black text-end"></a>
                    }
                    else {
                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="bi bi-heart mb-1 text-black"></a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>